html {
	height: 100%;
	width: 100%;
	/*background-color: #222;*/
	padding-right: 30px;
	border: 3px solid #333;
}

body, html {
	position: relative;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: arial;
}
body {
	/*min-height: 100%;*/
	/*min-width: 100%;*/
	/*margin: 100px 0px;*/
}

*, *::after, *::before {
	box-sizing: inherit;
}

body {
	/*background-image: radial-gradient(farthest-corner at 20% 80%, #64114c 0%, #011d3c 80%, black 100%);*/
	/*color: white;*/
	/*background-color: #272822;*/
	/*color: #f8f8ed;*/
	
	/*background-size: 100% 100%;*/
}

	h1 {
		background-image: linear-gradient(#464744, #3d3d3b);
		color: white;
		margin: 0px;
		padding: 10px;
		border-bottom: 3px solid #333;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	}


	functions {
		display: block;
	}

	function {
		display: block;
		position: relative;
		margin: 20px 1% 0px 3%;
		background-color: #32332d;
		/*color: #E8EBC8;*/
		border-radius: 1px;
		max-width: 900px;
		border-style: solid;
		/*border-color: #d6fff0;
		box-shadow: 0px 0px 5px #00ffa4, inset 0px 0px 5px #00ffa4;*/
		border-width: 2px;
		border-color: #404040;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		/*box-shadow: 0px 0px 5px rgba(250,250,250,0.2), inset 0px 0px 5px rgba(250,250,250,0.2);*/
	}

		function > fnHeader{
			font-family: "DejaVuSansMono", arial;
			display: block;
			position: relative;
			/*background-color: #355450;*/
			/*background-image: linear-gradient(#c62756, #9d314a);*/
			background-image: linear-gradient(#464744, #3d3d3b);
			/*font-size: 18px;*/
			font-size: 17.5px;
			color: white;
			margin: 0px;
			padding: 10px;
			border-bottom-style: solid;
			/*border-width: 3px;
			border-color: #d6fff0;
			box-shadow: 0px 0px 5px #00ffa4, inset 0px 0px 5px #00ffa4;*/
			border-width: 2px;
			border-color: #404040;
			/*border-color: #fff;
			box-shadow: 0px 0px 5px rgba(250,250,250,0.2), inset 0px 0px 5px rgba(250,250,250,0.2);*/
		}

		function breif {
			font-size: 15px;
			display: block;
			/*color: orange;	*/
		}

			function breif > code {
				font-family: "DejaVuSansMono", arial;
				/*background-color: #1111114d;*/
				/*border-bottom:  3px solid #0000001a;*/
				font-size: 13px;
				/*padding: 3px;*/
				/*border-radius: 5px;*/
			}
		

		function params argName{
			font-family: "DejaVuSansMono", arial;
			padding-bottom: 4px;
			display: inline-block;
		}	


		function info {
			display: block;
			padding: 5px;
		}

			function info > *:not(:last-child) {
				margin-bottom: 10px;
			}

				function info h3 {
					font-size: 15px;
					margin: 0px !important;
				}

			function params, function desc {
				display: block;
				padding-left: 10px;
			}

			function > fileLinks {
				display: block;
				text-align: right;
				/*opacity: 0.25;*/
			}
				fileLinks > a {
					color: inherit;
					opacity: 0.15;
					text-decoration: none;
				}

					fileLinks > a:hover {
						opacity: 1;
						text-decoration: underline;
						color: #77d9f1;
					}

			/*function:hover fileLinks, function:focus fileLinks {
				opacity: 1;
			}*/
