body, html {
	display: relative;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: arial;
}

*, *::before, *::after{
	box-sizing: inherit;
}


@font-face {
	font-family: 'Inconstolata';
  	src:  url('fonts/Inconstolata-Regular.ttf') format('truetype');
}

body {
	display: block;
	/*background-color: #222;*/

	font-family: "Inconstolata", arial;
	font-size: 12px;
	
	height: 100%;
}

	h1 {
		font-size: 15px;
		padding: 5px;
		color: white;
		/*background-color: #1d1d1d;*/
		/*border-bottom: 3px solid #111;*/
	}

	body class {
		display: block;
		position: relative;
		margin: 3px 0px;		
		/*animation: grow_and_appear 0.1s ease-in;*/
		/*animation-fill-mode: forwards;*/
	}

		/*body class > label {
			display: inline-block;
			height: 15px;
			width: 20px;
			background-color: red;
			position: absolute;
			top: 0px;
			left: 0px;
			margin: 0px;
		}*/

		body class > a {
			display: inline-block;
			/*font-size: 12px;*/
			color: white;
			margin-left: 18px;
			padding: 0px 2px;
			text-decoration: none;

			word-break: keep-all;
			transition: height 0.1s ease-in;
			height: 15px;

			border-radius: 4px;
		}

			body class > a.sameName {
				text-align: center;
				/*width: 40px;*/
				margin: 0px;
				/*m: right;*/
			}

			body class > a:hover {
				text-decoration: underline;
			}

			body class > a:focus {
				/*text-decoration: underline;*/
				background-color: #920d4b;
			}

			body class > a.back_ref {
				opacity: 0.5;
			}

		body class includes {
			display: block;
			padding-left: 1em;
		}

			/*input[type=checkbox]:not(:checked) ~ includes{
				animation: fade_and_shrink 1s ease;
				animation-fill-mode: forwards;
			}*/
			class input {
				display: none;
			}

			body class > label {
				position: absolute;
				top: 1px;
				left: 4px;

				display: block;
				height: 0px;
				width: 0px;
				border-style: solid;
				border-color: transparent;
				border-width: 6px 0px 6px 10px;
				border-left-color: #EEE;
				transition: transform ease-in 0.1s;
			}
				body class > label:hover {
					opacity: 0.5;
				}

				input[type=checkbox]:checked ~ label {
					transform: rotate(90deg);
				}

			input[type=checkbox]:not(:checked) ~ includes{
				display: none;
				/*height: 0px;*/
				/*animation: fade_and_shrink 0.1s ease-in;*/
				/*animation-fill-mode: forwards;*/
			}

				@keyframes fade_and_shrink {
					0% {
						padding: 3px 0px;
						opacity: 1;
					}
					50% {
						opacity: 0;
					}
					100% {
						font-size: 0;
						padding: 0px;
						margin: 0px;
						opacity: 0;
					}
				}

				@keyframes grow_and_appear {
					0% {
						padding: 0px;
						margin: 0px;
						font-size: 0;
						opacity: 0;
					}
					50% {
						padding: 3px 0px;
						font-size: inherit;
					}
					100% {
						opacity: 1;
					}
				}





